* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

form {
  text-align: center;
  width: 100%;
  padding: 40px;
  border-radius: 5px;
  border: 1px solid #dde3ec;
  background: #ffffff;
  font-weight: 500;
  font-size: 16px;
  color: #536387;
  outline: none;
  resize: none;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 48px;
}

h3 {
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  color: #07074d;
  padding-bottom: 20px;
}

.altura-peso {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.alergia{
  padding-bottom: 10px;

}
.medicamentos{
  padding-bottom: 10px;
}

.gpsanguineo{
  padding-bottom: 10px;
}
.vacina{
  padding-bottom: 10px;
}