*{
  margin: 0;
  padding: 0;
  }

p{
  font-family: arial;
}

.navbar{
  display: flex;
  justify-content: space-between;
}
.esquerda-nav{
  display: flex;
  justify-content: space-between;
}
.menu-azul{
  margin: 10px 10px 8px 10px;
  cursor: pointer;
}
.logo-navbar{
  margin-top:10px;
  max-width: 80px;
  max-height: 80px;
}


.direita-nav{
  display: flex;
  justify-content: space-between;
}
.logo-user{
  padding: 5px 5px 0;
  margin: 5px 5px 5px 5px;
}
.texto-user{
  padding: 5px 5px 0;
  margin: 20px 0px 0px 5px;
  text-align: center;
}

.side{
  margin: 10px;
  display: flex;
  justify-content: space-between;
}
.menu-cinza{
  max-width: 80px;
  max-height: 80px;
  cursor: pointer;
}

.sub-menu {
  display: none;
  padding-left: 20px; /* Adicione o espaçamento desejado nas opções do submenu */
  transition: all 0.3s ease;
}

.sub-menu a {
  display: block;
  padding-left: 20px;
}

.sub-menu.show {
  display: block;
}
.iten-menu {
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.iten-menu a {
  text-decoration: none;
}

.div-container{
  display: flex;
  flex-direction: column;
}

.div-container a{
  margin: 5px 0 0 45px;
}

.logo-sidebar{
  max-width: 80px;
  max-height: 80px;
}
 
.iten-menu p{
  padding-right: 80px;
  margin-top: 40px;
  margin-left: 10px;
  float: left;
}

.iten-menu img{
float: left;
}

.sair{
  width: 35px;
  height: 35px;
}

.footer-menu{
  position: absolute;
  bottom: 60px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left:30px;
  font-size:15px
}

.footer-menu p{
float: left;
margin-left: 10px;
margin-top: 5px;
align-items: center;
justify-content: center;
}

.footer-menu img{
  float: left;
}

.copyriht {
  margin: 20px;  
  bottom: 0;
  display:flex;
  align-items:center;
  flex-direction: row;
  position: absolute;
}

.copyriht p {
  margin-left:5px;
}

/* SIDEBAR */

.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 4; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #ffffff;
  border-top: 1px solid #009CDE;
  border-right: 1px solid #009CDE;
  border-bottom: 1px solid #009CDE;
  border-radius: 12px;
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: all 0.3s ease;
  overflow: hidden;
}

/* The navigation menu links */
.sidenav a {
  font-size: 20px;
  color: #000000;
  display: block;
  transition: 0.3s;
  float: left;
}

.iten-menu img {
  width: 35px;
  height: 35px;
  margin: 30px 10px 0 40px;
}

.iten-menu{
  width: 300px;
  height: 20px;
}

.iten-menu #text{
  margin-bottom: 10px;
}

.esquerda {
  position: absolute;
  left: -35px;
}

#seta1{
  transform: scaleX(-1);
  width: 30px;
  height: 30px;
}
#seta2{
  transform: scaleX(-1);
  width: 30px;
  height: 30px;
}
#seta3{
  transform: scaleX(-1);
  width: 30px;
  height: 30px;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  font-weight: bold;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  text-decoration: none;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left 0.1s;
  margin: 10px 10px 10px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#img-1 {
  padding-left: 20px;
  max-width: 100px;
  max-height: 200px;

}

#img-1:checked + #menu-lateral {
  left: 0;
}

input[type="checkbox"] {
  display: none;
}

#img-3:last-child {
  margin-right: 0; /* Remova a margem direita da terceira imagem */
  margin-left: auto; /* Alinhe a terceira imagem à extrema direita */
  width: 48px;
  height: 48px;
  top: 40px;
    
}
/* SIDEBAR */

/*CARDS*/

.invisible{
  margin: auto;
  width: 1000px;
  justify-content: space-between;
  display:flex;
}

.cards{ 
  width:300px;
  height:130px;
  border-radius: 12px;
  background: #F8AE00;
  position: relative;
  justify-content: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  transition: all 0.5s ease-in-out
}

.cards:hover{
  background: #ffd061;
}

.cards.animate {
  animation: color-change 2s ease-in-out infinite;
}

@keyframes color-change {
  0% {
    background-color: #F8AE00;
  }
  25% {
    background-color: #FF686B;
  }

 33%{
  background-color: #DF0209;
 }
  50% {
    background-color: #7C5CE2;
  }
  62% {
    background-color: rgb(71, 54, 87);
  }
  75% {
    background-color: #30E3CA;
  }
  100% {
    background-color: #F8AE00;
  }
}

.cards.card-normal {
  background: #f5f5f5;
  height: 800px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
}

.cards.card-normal > div {
  position: absolute;
  top: 0;
  margin-top: 110px; /* ou padding-top: 20px; */
}


.cards .content{
  transition: all 0.5s;
}

.cards.cor-mudada {
  background: #f5f5f5;
}

.cards img{
  margin: 5px 0 0 0;
}

.cards p {
  margin: 10px;
}

.cards .texto-expandido {
  display: none;
}

.cards.card-normal h1{
 font-size: 25px;
 margin: 0 0 0 20px;
}

.texto-expandido {
  display: none;
  transition: 1.9s ease-in-out;  
  opacity: 0;
  flex-direction: column;
  overflow: hidden;
  margin: auto;
  top: 0;
}

.texto-expandido.mostrar {
  display: block;
  opacity: 1;
  margin: 10 0 0 0;
}

.detalhe{
  margin: 10px 0 4px 0;
  width: 260px;
  height: 70px;
  border-radius: 8px;
  background-color: #F6E5CA;
  position: relative;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding-bottom: 20px;
  transition: all 0.6s ease-in-out;
}

.altura-peso {
  margin-left: 10px;
}

.info {
  white-space: nowrap
}

.detalhe.mostrar{
  transition: all 0.6s ease-in-out;
}
  
.detalhe .info img{
  width: 20px;
  height: 20px;
  margin: 5px 0 0 15px;
}

.centro-info {
  display: flex;
  align-items: center;
  margin: 20px 0 0 25px;
}

.centro-info p{
margin: 0px;
}

.numero {
  font-size: 22px;
  font-family:arial;
}

.cm, .kg {
  color: #555555;
  text-align: right;
  padding-right: 30px;
  font-size: 14px;
  font-family: arial;
}

.data {
  position: absolute;
  top: 0;
  right: 0;
}


.detalhe .info {
  width: 230px;
  font-size: 12px;
  font-weight: bold;
  display: flex;
}


.detalhe .data {
  color: #939090;
  font-size: 12px;
  font-family: 'Inter';
  font-style: normal;
  margin:3px;
}

.alergias{
  margin: 0 0 10px 5px;
  font-size: 14px;
}

.medicamentos{
  margin: 0 0 10px 5px;
  font-size: 14px;
}

.o{
  font-size: 22px;
}

.vacinas{
  display:flex;
  font-size: 10px;
  margin: 0 0 0 10px;
}

.sarampo{
  background: #A7DAF4;
  border-radius: 12px;
  margin: 0 5px 0 0
}

.febre{
  background: #A7DAF4;
  border-radius: 12px;
}

.observacao{
  font-size: 14px;
}

/*Card 2*/

.atestado{
  margin: 10px;
  width: 260px;
  height: 100px;
  border-radius: 12px;
  background-color: #F6E5CA;
  transition: all 0.6s ease-in-out;
  padding-top: 3px;
  font-size: 12px;
  align-items: center;
  justify-content: center;
}

.atestado img{
  width: 30px;
  height: 30px;
  margin: 5px;
}
.box{
  margin: 5px;
  z-index: 2;
  align-items: center;
  justify-content: center;
}

.atestado p{
font-weight: 100;
}

.meu-arquivo {
  margin: auto;
  background: #A7DAF4;
  width: 235px;
  height: 40px;
  border-radius: 8px;
  display: flex;
  z-index: 1;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.meu-arquivo a {
  text-decoration: none;
  text-align: right;
}

.meu-arquivo p{
  color: #DF0209;
}

/*card 3*/

.cardapio{
  width: 270px;
  margin: 10px auto 10px auto;
  background: #A7DAF4;
  border-radius: 8px;
  display: inline-block;
}

.cardapio p{
  font-size: 14px;
  color:#3BA12F;
}

.descricao{
  width: 240px;
  display: inline-table;
  background: #F5F5F5;
  border-radius: 6px;
  margin: 10px auto 0 auto;
}

.descricao p{
  color: #000000;
}

/*cards*/
