*{
  margin: 0;
  padding: 0;
  }

p{
  font-family: arial;
}

.navbar{
  display: flex;
  justify-content: space-between;
}
.esquerda-nav{
  display: flex;
  justify-content: space-between;
}
.menu-azul{
  margin: 10px 10px 8px 10px;
  cursor: pointer;
}
.logo-navbar{
  margin-top:10px;
  max-width: 80px;
  max-height: 80px;
}


.direita-nav{
  display: flex;
  justify-content: space-between;
}
.logo-user{
  padding: 5px 5px 0;
  margin: 5px 5px 5px 5px;
}
.texto-user{
  padding: 5px 5px 0;
  margin: 20px 0px 0px 5px;
  text-align: center;
}

.side{
  margin: 10px;
  display: flex;
  justify-content: space-between;
}
.menu-cinza{
  max-width: 80px;
  max-height: 80px;
  cursor: pointer;
}

.sub-menu {
  display: none;
  padding-left: 20px; /* Adicione o espaçamento desejado nas opções do submenu */
  transition: all 0.3s ease;
}

.sub-menu a {
  display: block;
  padding-left: 20px;
}

.sub-menu.show {
  display: block;
}
.iten-menu {
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.iten-menu a {
  text-decoration: none;
}

.div-container{
  display: flex;
  flex-direction: column;
}

.div-container a{
  margin: 5px 0 0 45px;
}

.logo-sidebar{
  margin-top:10px;
  max-width: 80px;
  max-height: 80px;
}
 
.iten-menu p{
  padding-right: 80px;
  margin-top: 35px;
  margin-left: 10px;
  float: left;
}

.iten-menu img{
float: left;
width: 25px;
height: 25px;
}

.sair {
  width: 30px;
  height: 30px;
}

.footer-menu{
  position: absolute;
  bottom: 90px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left:40px;
  font-size:15px
}

.footer-menu p{
float: left;
margin-left: 10px;
margin-top: 5px;
align-items: center;
justify-content: center;
}

.footer-menu img{
  float: left;
}

.copyriht {
  top: 90%; 
  left: 20%;
  bottom: 0;
  display:flex;
  align-items:center;
  flex-direction: row;
  position: absolute;
}

.copyriht p {
  margin-left:5px;
  font-size: 10px ;
}

/* SIDEBAR */

.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 4; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #ffffff;
  border-top: 1px solid #009CDE;
  border-right: 1px solid #009CDE;
  border-bottom: 1px solid #009CDE;
  border-radius: 12px;
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: all 0.3s ease;
  overflow: hidden;
}

/* The navigation menu links */
.sidenav a {
  font-size: 20px;
  color: #000000;
  display: block;
  transition: 0.3s;
  float: left;
}

.iten-menu img {
  width: 35px;
  height: 35px;
  margin: 30px 10px 0 40px;
}

.iten-menu{
  width: 300px;
  height: 20px;
}

.iten-menu #text{
  margin-bottom: 10px;
}

.esquerda {
  position: absolute;
  left: -255px;
}


/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  font-weight: bold;
  color: #004085;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  text-decoration: none;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left 0.1s;
  margin: 10px 10px 10px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#img-1 {
  padding-left: 20px;
  max-width: 100px;
  max-height: 200px;

}

#img-1:checked + #menu-lateral {
  left: 0;
}

input[type="checkbox"] {
  display: none;
}

#img-3:last-child {
  margin-right: 0; /* Remova a margem direita da terceira imagem */
  margin-left: auto; /* Alinhe a terceira imagem à extrema direita */
  width: 48px;
  height: 48px;
  top: 40px;
    
}
/* SIDEBAR */
    
    .invisivel{
      margin: 200px auto 0 0;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }

    .cima{
      margin: 0 0 40px 0;
      background-color: #F5F5F5;
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 700px;
      height: 200px;
      border-radius: 12px;
      box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);
    }
    
    .circulo{
      margin: -150px auto 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #009CDE;
      width: 200px;
      height: 200px;
      border-radius: 50%;
    }

    .circulo h2{
      color:#FFD46D;
      font-size: 50px;
      font-family: arial;
    }

    .nome{
      margin: 30px 0 0 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .nome h3{
      font-size: 24px;
      font-family: arial;
    }

    .baixo{
      background-color: #F5F5F5;
      display: flex;
      justify-content: center;
      width: 700px;
      height: 250px;
      border-radius: 12px;
      box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);
    }
    
    .left{
      margin: 50px 40px auto 40px;
      text-align: left;
      width: 350px;
      height: 200px;
      flex-direction: column;
    }

    .titulo-1{
      margin: 0 0 10px 0;
      color: #B0ADAD;
      font-family: arial;
    }

    .texto-1{
      margin: 0 0 10px 0;
      font-family: arial;
    }
    
    .titulo-2{
      margin: 40px 0 10px 0;
      color: #B0ADAD;
      font-family: arial;
    }

    .texto-2{
      font-family: arial;
    }


    .right{
      margin: 50px 40px auto 40px;
      text-align: left;
      width: 350px;
      height: 200px;
      flex-direction: column;
      display: flex;
    }

    .telefone{
      margin: 0 0 10px 0;
      color: #B0ADAD;
      font-family: arial;
    }

    .numero img{
      margin: 0 10px 0 10px;
      float: left;
    }
    
    
    
    
    
    
    
    
    
    
    
    
    
    /* OUTRA */
            /* #menu-lateral {
        border-radius: 10px;
        border-right: 1px solid #009CDE;
        position: fixed;
        top: 0;
        left: -450px; 
        width: 250px;
        height: 100vh;
        background-color: rgba(240, 240, 240, 0.0); /
        transition: left 1.2s ease; /
      } */
      /* .esconder{
        cursor: pointer;
        height: 30px;
        width: 30px;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
        border-radius: 50%;
      } */
    /* OUTRA */

   