body {
    font-family: Arial, sans-serif;
  }
  
  .container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  table {
    border-collapse: separate;
    border-spacing: 0;
    width: 60%;
    background-color: #fff;
    border: 1px solid #ccc;
  }
  
  th, td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ccc;
  }
  
  th {
    background-color: #f2f2f2;
    font-weight: bold;
    color: #333;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  caption {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .coluna1 {
    background-color: #e6e6e6;
  }
  
  .coluna2 {
    background-color: #f2f2f2;
  }
  
  .coluna3 {
    background-color: #e6e6e6;
  }