
body{
    background-color:#F5F5F5;
    margin: 0;
    padding: 0;
    height: 100vh;
}

/* Estilos para o conteúdo do documento quando o menu está expandido */
body.menu-expandido {
  margin-left: 200px;
  /* Estilos adicionais para o conteúdo do documento quando o menu está expandido */
}

p{
  font-family: arial;
}

    .container {
    background-color:#F5F5F5;
    display: flex;
    align-items: center;
    width: auto;
    height: 50px;
    margin-top: 30px;
    white-space: nowrap;
    justify-content: space-between;
}

  #img-1 {
    padding-left: 20px;
    max-width: 100px;
    max-height: 200px;
    cursor: pointer;
  }

  #img-1:checked + #menu-lateral {
    left: 0;
  }

  input[type="checkbox"] {
    display: none;
  }
  

  #menu-lateral {
    border-radius: 10px;
    border-right: 1px solid #009CDE;
    position: fixed;
    top: 0;
    left: -450px; /* Inicialmente escondido fora da tela */
    width: 250px;
    height: 100vh;
    background-color: rgba(240, 240, 240, 0.0); /* Define a cor de fundo com transparência */
    transition: left 1.2s ease; /* Adicione transição para animação suave */
  }
  .esconder{
    cursor: pointer;
    height: 30px;
    width: 30px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    border-radius: 50%;
  }


  #img-2 {
    padding-left: 30px;
    max-width: 100px;
    max-height: 200px;
  }

  #img-3:last-child {
      margin-right: 0; /* Remova a margem direita da terceira imagem */
      margin-left: auto; /* Alinhe a terceira imagem à extrema direita */
      width: 48px;
      height: 48px;
      top: 40px;
    
}

.texto{
  text-align: center;
  margin-right: 0; /* Remova a margem direita da terceira imagem */
  margin-left: auto; /* Alinhe a terceira imagem à extrema direita */
  margin-top: 15px;
  padding-right:15px;
}

  h5 {
  font-family: arial;
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}

.ul{
        text-align: center;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        
}
/*tentando centraliza pedentes/
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}